<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
 Auth0.plist
 LearnAuth0Simple
 
 Created by Jing Wang on 5/22/18.
 Copyright (c) 2018 figur8 Inc. All rights reserved.
 -->
<plist version="1.0">
    <dict>
        <key>ClientId</key>
        <string>pXIH4N20XMcUvjodF6UUfEnom30MdMVW</string>
        <key>Domain</key>
        <string>infinity-coding7.auth0.com</string>
    </dict>
</plist>
